@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: quick;
  src: url("./../font/Quicksand-VariableFont_wght.ttf");
}

.quick {
  font-family: quick;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid #2b3e6c;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-left: 2px solid #ff3d00;
  border-bottom: 2px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nv header {
  max-width: 1400px !important;
}

.nnv header {
  max-width: 1152px;
}

.darkGradient {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}

.nv nav {
  background: transparent; /* Remove the background */
  border-bottom: 1px solid #fff;
}

.nv nav {
  backdrop-filter: none; /* Remove the backdrop filter */
}

* {
  font-family: quick;
}

/*Width*/
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.smallLoader {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
